{% extends 'base.html' %}

{% block title %}
<title>Moje rezervacije</title>
{% endblock %}

{% block content %}
        <h1 class="text-center">Rezervacije</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th>Broj telefona</th>
                    <th>Datum</th>
                    <th>Vrijeme</th>
                    <th>Broj gostiju</th>
                    <th>Poruka</th>
                    <th>Tip rezervacije</th>
                </tr>
            </thead>
            <tbody>
                {% for rezervacija in rezervacije %}
                    <tr>
                        <td>{{ rezervacija[0] }}</td>
                        <td>{{ rezervacija[1] }}</td>
                        <td>{{ rezervacija[2] }}</td>
                        <td>{{ rezervacija[3] }}</td>
                        <td>{{ rezervacija[4] }}</td>
                        <td>{{ rezervacija[5] }}</td>
                        <td>{{ rezervacija[6] }}</td>
                        <td>{{ rezervacija[7] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
